interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/mailboxes/122867/users.json
  response:
    body: {string: !!python/unicode '{"page":1,"pages":1,"count":2,"items":[{"id":218639,"firstName":"Dave","lastName":"Lasley","fullName":"Dave
        Lasley","email":"support@laslabs.com","role":"owner","timezone":"America/New_York","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/218639.95870.jpg","createdAt":"2017-08-25T20:01:06Z","modifiedAt":"2017-12-13T19:47:35Z","type":"user"},{"id":245377,"firstName":"Test
        Team","lastName":"","fullName":"Test Team ","email":"","role":"user","timezone":"UTC","photoUrl":null,"createdAt":"2017-12-14T01:18:46Z","modifiedAt":"2017-12-14T01:18:51Z","type":"team"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [692051f9-0061-4dcf-a178-1c98e764220b#64033495]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['199']
    status: {code: 200, message: OK}
version: 1
