interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/teams.json
  response:
    body: {string: !!python/unicode '{"page":1,"pages":1,"count":1,"items":[{"id":245377,"firstName":"Test
        Team","lastName":"","fullName":"Test Team ","email":"","role":"user","timezone":"UTC","photoUrl":null,"createdAt":"2017-12-14T01:18:46Z","modifiedAt":"2017-12-14T01:18:51Z","type":"team"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [83eeded5-611e-4ddb-8d91-10e9db5880aa#64657568]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['197']
    status: {code: 200, message: OK}
version: 1
