interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/users/me.json
  response:
    body: {string: !!python/unicode '{"item":{"id":218639,"firstName":"Dave","lastName":"Lasley","fullName":"Dave
        Lasley","email":"support@laslabs.com","role":"owner","timezone":"America/New_York","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/218639.95870.jpg","type":"user","companyId":72390,"createdAt":"2017-08-25T20:01:06Z","modifiedAt":"2017-12-13T19:47:35Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [9298a7c0-93dd-4777-b0a4-47c83bfae739#64693577]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['199']
    status: {code: 200, message: OK}
version: 1
