interactions:
- request:
    body: !!python/unicode '{"reload": true, "name": "Support"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.helpscout.net/v1/mailboxes/122867.json
  response:
    body: {string: !!python/unicode '{"code":404,"error":"The specified resource was
        not found: ''/v1/mailboxes/122867.json''"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [692051f9-0061-4dcf-a178-1c98e764220b#63896670]
    status: {code: 404, message: Not Found}
version: 1
