interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/search/customers.json?query=%28id%3A144228647%29
  response:
    body: {string: !!python/unicode '{"page":1,"pages":1,"count":1,"items":[{"id":144228647,"firstName":"Test","lastName":"User","fullName":"Test
        User","emails":["test@example.com"],"photoUrl":null,"photoType":null,"gender":"unknown","age":null,"organization":"Test
        Company","jobTitle":"CEO","location":null,"createdAt":"2017-09-23T20:12:43Z","modifiedAt":"2017-12-13T22:39:59Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [83eeded5-611e-4ddb-8d91-10e9db5880aa#64519682]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['190']
    status: {code: 200, message: OK}
version: 1
