interactions:
- request:
    body: !!python/unicode '{"mimeType": "text/plain", "hash": null, "reload": true,
      "url": null, "height": null, "width": null, "fileName": "test.txt", "data":
      "VGVzdCBTdHJpbmc=", "id": null, "size": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helpscout.net/v1/attachments.json
  response:
    body: {string: !!python/unicode '{"item":{"hash":"c9c0f1b88ced80fe9ec3631bfc74e0ebf0b758a2"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [692051f9-0061-4dcf-a178-1c98e764220b#63965198]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['11']
      x-ratelimit-remaining-minute: ['197']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"status": "active", "body": "<p>Test conversation.</p>",
      "fromMailbox": null, "openedAt": null, "attachments": [{"mimeType": null, "hash":
      "c9c0f1b88ced80fe9ec3631bfc74e0ebf0b758a2", "url": null, "height": null, "width":
      null, "fileName": null, "data": null, "id": null, "size": null}], "cc": null,
      "actionType": null, "reload": true, "createdBy": {"firstName": "Dave", "photoUrl":
      "https://d33v4339jhl8k0.cloudfront.net/users/218639.95870.jpg", "lastName":
      "Lasley", "emails": null, "phone": null, "modifiedAt": null, "customerPersonType":
      null, "id": 218639, "fullName": "Dave Lasley", "type": "user", "email": "support@example.com",
      "createdAt": null}, "id": 1310543489, "createdAt": "2017-12-07T21:08:20Z", "customer":
      {"firstName": "Test", "photoUrl": null, "lastName": "User", "emails": ["test@example.com"],
      "phone": "1234567890", "modifiedAt": null, "customerPersonType": true, "id":
      144228647, "fullName": null, "type": "customer", "email": "test@example.com",
      "createdAt": null}, "imported": false, "assignedTo": null, "actionSourceId":
      null, "createdByCustomer": null, "bcc": null, "to": null, "state": "published",
      "savedReplyId": null, "source": {"via": "user", "type": "api", "id": null},
      "type": "note"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helpscout.net/v1/conversations/448848612.json
  response:
    body: {string: !!python/unicode '{"item":{"id":448848612,"type":"phone","folderId":1601742,"isDraft":false,"number":154,"owner":null,"mailbox":{"id":122867,"name":"Support"},"customer":{"id":147223415,"firstName":"Tester","lastName":"Testerson","email":null,"phone":"23434545t54","type":"customer","emails":[],"photoUrl":"","customerPersonType":true},"threadCount":2,"status":"active","subject":"beep
        boop","preview":"Test conversation.","createdBy":{"id":218639,"firstName":"Dave","lastName":"Lasley","email":"support@laslabs.com","phone":null,"type":"user","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/218639.95870.jpg"},"createdAt":"2017-10-13T16:33:46Z","modifiedAt":"2017-12-07T21:08:20Z","closedAt":null,"closedBy":null,"source":{"type":"web","via":"user"},"cc":[],"bcc":[],"tags":["green"],"threads":[{"id":1320813073,"type":"note","assignedTo":null,"status":"active","createdAt":"2017-12-07T21:08:20Z","openedAt":null,"createdBy":{"id":218639,"firstName":"Dave","lastName":"Lasley","email":"support@laslabs.com","phone":null,"type":"user","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/users/218639.95870.jpg"},"source":{"type":"api","via":"user"},"actionType":null,"actionSourceId":null,"fromMailbox":null,"state":"published","customer":{"id":147223415,"firstName":"Tester","lastName":"Testerson[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/attachments/105227685/data.json
  response:
    body: {string: !!python/unicode '{"item":{"id":105227685,"data":"VGVzdCBTdHJpbmc="}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [692051f9-0061-4dcf-a178-1c98e764220b#63965205]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['11']
      x-ratelimit-remaining-minute: ['195']
    status: {code: 200, message: OK}
version: 1
