interactions:
- request:
    body: !!python/unicode '{"mimeType": "text/plain", "hash": null, "reload": true,
      "url": null, "height": null, "width": null, "fileName": "test.txt", "data":
      "VGVzdCBTdHJpbmc=", "id": null, "size": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helpscout.net/v1/attachments.json
  response:
    body: {string: !!python/unicode '{"item":{"hash":"c9c0f1b88ced80fe9ec3631bfc74e0ebf0b758a2"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [83eeded5-611e-4ddb-8d91-10e9db5880aa#64596404]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['11']
      x-ratelimit-remaining-minute: ['199']
    status: {code: 201, message: Created}
version: 1
