interactions:
- request:
    body: !!python/unicode '{"reload": true, "id": 122867, "name": "Support"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helpscout.net/v1/mailboxes.json
  response:
    body: {string: !!python/unicode '{"code":404,"error":"The specified resource was
        not found: ''/v1/mailboxes.json''"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [83eeded5-611e-4ddb-8d91-10e9db5880aa#64539369]
    status: {code: 404, message: Not Found}
version: 1
