interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/mailboxes.json
  response:
    body: {string: !!python/unicode '{"page":1,"pages":1,"count":1,"items":[{"id":122867,"slug":"1e6edf4131720c0a","name":"Support","email":"support@laslabs.com","createdAt":"2017-09-16T18:38:36Z","modifiedAt":"2017-11-12T14:05:48Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [00c70165-0a63-4686-b794-8d0518107e1b#65007321]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['197']
    status: {code: 200, message: OK}
version: 1
