interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/search/conversations.json?query=%28id%3A448848612%29
  response:
    body: {string: !!python/unicode '{"page":1,"pages":1,"count":1,"items":[{"id":448848612,"number":154,"mailboxId":122867,"subject":"beep
        boop","status":"active","threadCount":2,"preview":"api test...","customerName":"Tester
        Testerson","customerEmail":null,"hasAttachments":false,"modifiedAt":"2017-12-05T22:35:13Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [9298a7c0-93dd-4777-b0a4-47c83bfae739#64530883]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['9']
      x-ratelimit-remaining-minute: ['178']
    status: {code: 200, message: OK}
version: 1
