interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/teams/245377.json
  response:
    body: {string: !!python/unicode '{"item":{"id":245377,"firstName":"Test Team","lastName":"","fullName":"Test
        Team ","email":"","role":"user","timezone":"UTC","photoUrl":null,"createdAt":"2017-12-14T01:18:46Z","modifiedAt":"2017-12-14T01:18:51Z","type":"team"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [692051f9-0061-4dcf-a178-1c98e764220b#64020943]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['199']
    status: {code: 200, message: OK}
version: 1
