interactions:
- request:
    body: !!python/unicode '{"socialProfiles": null, "photoUrl": null, "phones": null,
      "id": null, "createdAt": "2017-09-23T20:12:43Z", "customerPersonType": null,
      "type": "user", "email": null, "location": null, "chats": null, "jobTitle":
      "CEO", "photoType": null, "phone": null, "background": null, "address": null,
      "fullName": "Test User", "emails": null, "firstName": "Test", "gender": "unknown",
      "age": null, "websites": null, "reload": true, "modifiedAt": "2017-12-13T22:39:59Z",
      "lastName": "User", "organization": "Test Company"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.helpscout.net/v1/customers.json
  response:
    body: {string: !!python/unicode '{"item":{"id":156969664,"firstName":"Test","lastName":"User","fullName":"Test
        User","photoUrl":null,"photoType":null,"gender":"unknown","age":null,"organization":"Test
        Company","jobTitle":"CEO","location":null,"createdAt":"2017-12-13T22:50:25Z","modifiedAt":"2017-12-13T22:50:25Z","background":null,"address":null,"socialProfiles":null,"emails":[],"phones":[],"chats":null,"websites":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [9298a7c0-93dd-4777-b0a4-47c83bfae739#64541350]
      location: ['https://api.helpscout.net/v1/customers/156969664.json']
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['11']
      x-ratelimit-remaining-minute: ['199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/customers/156969664.json
  response:
    body: {string: !!python/unicode '{"item":{"id":156969664,"firstName":"A new name","lastName":"User","fullName":"A
        new name User","photoUrl":null,"photoType":null,"gender":"unknown","age":null,"organization":"Test
        Company","jobTitle":"CEO","location":null,"createdAt":"2017-12-13T22:50:25Z","modifiedAt":"2017-12-13T22:50:26Z","background":null,"address":null,"socialProfiles":null,"emails":[],"phones":[],"chats":null,"websites":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [00c70165-0a63-4686-b794-8d0518107e1b#65001772]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['197']
    status: {code: 200, message: OK}
version: 1
